.Chatwindow{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    float: right;
    width: 40%;
    height: 80%;
    margin-right: 1%;
}

.chathistory{
    height: 70%;
    border: 1px solid black;
    overflow: scroll;
}

.chattext{
    text-align: left;
}
