
.SignUpFormContainer{
    /* background-color: #3b5998; */
    background-color:  rgb(172, 166, 166);
    overflow: auto;
    padding:20px 50px 10px 20px;
}

.SignUpForm{
    float: right;
    max-width: 300px;
    text-align: center;
}

.SignUpGreeting, .SignUpGreeting h5, .SignUpGreeting h2{
    padding: 0px, 0px, 0px, 0px;
    margin: 0px 0px 7px 0px;
    color: white;
}

.SignUpForm input{
    margin-top: 2px;
}

.SignUpForm button{
    margin-top: 5px;
}

.SignUpForm input{
    padding: 5px;
}

.SignUpCancel{
    float: right;
    margin-right: 45px;
}

.SignUpError{
    color: #bb000d;
    text-decoration: bold;
    margin:10px 0px 0px 0px;
    padding: 0;
    max-width: inherit;
    text-overflow: clip;
}
.SignInInvitation{
    margin:5px;
    margin-right: 10%;
    color:white;
    float: right;
   
}

.SignInInvitation a, .SignInInvitation h5{
    margin: 0;
    padding:0;
    display: inline-block;
    margin-left: 5px; 
}

.SignInInvitation a{
    text-decoration: underline;
}
